<nav class="pager" role="navigation" aria-labelledby="pagination-heading">
  <h4 id="pagination-heading" class="visually-hidden">{{ 'Pagination'|t }}</h4>
  <ul class="pager__items js-pager__items">
    {% if pager.previous %}
      <li class="pager__item pager__item--previous">
        <a href="{{ pager.previous }}" title="{{ 'Go to previous page'|t }}" rel="prev">
          <span class="visually-hidden">{{ 'Previous page'|t }}</span>
          <span aria-hidden="true">{{ '‹ Previous'|t }}</span>
        </a>
      </li>
    {% endif %}
    <li class="pager__item">
      {{ pager.current }} {{ 'of'|t }} {{ pager.total }}
    </li>
    {% if pager.next %}
      <li class="pager__item pager__item--next">
        <a href="{{ pager.next }}" title="{{ 'Go to next page'|t }}" rel="next">
          <span class="visually-hidden">{{ 'Next page'|t }}</span>
          <span aria-hidden="true">{{ 'Next ›'|t }}</span>
        </a>
      </li>
    {% endif %}
  </ul>
</nav>
